<div class="page-header">
  <h1 align="center">welcome with this app you are expected to have access to a 
  							database of places as well as be able to add the sites of 
 						 	preference</h1>
</div>
<div align="center" class="jumbotron"

</div>

