<div class="page-header">
</div>
<div align="center" class="jumbotron"
<p> Welcome with this app you are expected to have access to a 
  							database of places as well as be able to add the sites of 
 						 	preference</p>

</div>

