$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    float: left;
    font-size: 1.7em;
    color: white;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover {
    color: blue;
    text-decoration: none;
}

.navbar .navbar-nav li a {
    color: white !important;
    font-size: 1.1em;
}

.navbar .navbar-nav li a:hover {
    color: white !important;
    background-color: gray;
    opacity: 0,5;
}

.jumbotron {
    background-image: asset-url('maps.png');
    background-size: cover;
    height:550px;
    margin-top: 45px;
    padding-top: 5px;
}

.jumbotron h1 {
    color: black;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
    margin-top: 45px;
    padding-top: 5px;
}
.btn-xlarge {
    font-size: 1.7em;
    background-color: rgba(0, 0, 0, 0.432);
}

footer{
    margin-top: 25px;
    padding-top: 5px;
    border-top: 1px solid white;
    color: #777777;
}

footer a:hover{
    color: #ffffff !important;
    background-color: #ca4d4d;
    opacity: 0,5;
}

#body{
    background-color: #f0f0f0ef;
}

.btn-info{
    font-size: 1em;
    color: rgb(255, 255, 255) !important;
}

#messagess{
    margin-top: 2px;
    padding-top: 5px;
}


.btn-primary{
    font-size: 1em;
    color: rgb(255, 255, 255) !important;
}
.btn-danger{
    font-size: 1em;
    color: rgb(255, 255, 255) !important;
}

#font{
    font-size: 1.1em;
    font-weight: bold;
    color: rgb(0, 0, 0) !important;
}

.sign-link a {
    color: #64103F; 
}

  