$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    float: left;
    font-size: 1.7em;
    color: white;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover {
    color: blue;
    text-decoration: none;
}

.navbar .navbar-nav li a {
    color: white !important;
}

.navbar .navbar-nav li a:hover {
    color: white !important;
    background-color: gray;
    opacity: 0,5;
}

.jumbotron {
    background-image: asset-url('maps.png');
    background-size: cover;
    height:550px;
}

.jumbotron h1 {
    color: black;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
}
.btn-xlarge {
    font-size: 1.7em;
    background-color: black;
}

footer{
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid white;
    color: #777777;
}

footer a:hover{
    color: #5681c0;
}


