$navbar-default-bg: rgb(4, 73, 41);

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    float: left;
    font-size: 1.7em;
    color: white;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover {
    color: greenyellow;
    text-decoration: none;
}

.navbar .navbar-nav li a {
    color: white !important;
    font-size: 1.1em;
}

.navbar .navbar-nav li a:hover {
    color: white !important;
    background-color: gray;
    opacity: 0,5;
}

.jumbotron {
    background-image: asset-url('maps.png');
    background-size: cover;
    height:550px;
    margin-top: 10px;
    padding-top: 5px;
}


footer{
    margin-top: 25px;
    padding-top: 5px;
    border-top: 1px solid white;
    color: #777777;
}

footer a:hover{
    color: #ffffff !important;
    background-color: #ca4d4d;
    opacity: 0,5;
}

#body{
    background-color: #f0f0f0ef;
}

.btn-info{
    font-size: 1em;
    color: rgb(255, 255, 255) !important;
}

#messagess{
    margin-top: 2px;
    padding-top: 5px;
}


.btn-primary{
    font-size: 1em;
    color: rgb(255, 255, 255) !important;
}
.btn-danger{
    font-size: 1em;
    color: rgb(255, 255, 255) !important;
}

#font{
    font-size: 1.1em;
    font-weight: bold;
    color: rgb(0, 0, 0) !important;
}

.sign-link a {
    color: #64103F; 
}
.navbar-brand{
    color: white;
}

  

.login-form {
    width: 385px;
    margin: 10px auto;
    padding: 30px;
   
}
.login-form form {        
    width: 385px;
    margin-bottom: 150px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
    background-image: asset-url('maps2.jpg');
    background-size: cover;
    opacity: 0,5;
}

.social-btn .btn:hover {
    opacity: 0.9;
}

.login-form h2 {
    margin: 0 0 15px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.384);
}

#sign-in-email{
    font-size: 1.2em;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.699);
 
}

#sign-in-pass{
    font-size: 1.2em;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.699);
}

#sign-in-remember{
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.158);
}


.row form {        
    width: 900px;
    margin-bottom: 150px;
    padding: 30px;
}

.row h2 {
    margin-bottom: 10px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.modal-confirm {		
    color: #636363;
    width: 325px;
}
.modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
}
.modal-confirm .modal-header {
    border-bottom: none;   
    position: relative;
}
.modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -15px;
}
.modal-confirm .form-control, .modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px; 
}
.modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -5px;
}	
.modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
}	
.modal-confirm .icon-box {
    color: #fff;		
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -70px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    background: #82ce34;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-confirm .icon-box i {
    font-size: 58px;
    position: relative;
    top: 3px;
}
.modal-confirm.modal-dialog {
    margin-top: 80px;
}
.modal-confirm .btn {
    color: #fff;
    border-radius: 4px;
    background: #82ce34;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border: none;
}
.modal-confirm .btn:hover, .modal-confirm .btn:focus {
    background: #6fb32b;
    outline: none;
}
.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}   

