<div class = "container">
    <footer class= "footer">
        <small>
            Copyright &copy; <a href = "https://www.udemy.com/"> the complete Ruby on rails Developer</a>
            by <a href = "https://www.linkedin.com/in/sebastian-quintero-garcia-b9332a182/"> Sebastian Quintero</a>
            <a href = "https://www.linkedin.com/in/juan-fernando-tabares-ocampo-338902175/"> Juan Fernando Tabares</a>
        </small>
        <nav>
        </nav>
    </footer>
</div>