<div class = "container">
    <footer class= "footer">
        <small>
            Copyright &copy; <a href = "https://www.udemy.com/"> the complete Ruby on rails Developer</a>
            by <a href = "https://alpha-blog-sebas.herokuapp.com/"> Sebastian Quintero</a>
            <a href = "https://alpha-blog-juanf.herokuapp.com/"> Juan Fernando Tabares</a>
        </small>
        <nav>
        </nav>
    </footer>
</div>